
.workspace-container {
  min-height: 90vh;
  background-color: var(--bg-contenedor);
  color: var(--texto-principal);
  padding: 2rem;
  border: 1px solid var(--borde-suave);
  border-radius: 0.5rem;
}


.workspace-column {
  border-left: 1px solid var(--borde-suave);
  border-right: 1px solid var(--borde-suave);
  padding: 0 1rem;
}


.workspace-card {
  border: none;
  transition: transform 0.2s ease;
}

.workspace-card:hover {
  transform: scale(1.02);
  background-color: var(--bg-hover-sutil);
}

.workspace-card-body {
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--texto-principal); 
}

.workspace-card-body a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}


.workspace-scroll-area {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 1rem;
}


/*Estilos de las cards*/
.ticket-urgente { background-color: #7e050f; }
.ticket-alta { background-color: #ffc107; }
.ticket-media { background-color: #198754; }
.ticket-baja { background-color: #0d6efd; }


/* Modo oscuro */
body.dark-mode .workspace-container {
  background-color: var(--bg-contenedor);
  color: var(--texto-principal);
}

body.dark-mode .workspace-card-body {
  color: var(--texto-secundario); 
}

body.dark-mode .workspace-card-body a {
  color: inherit;
}

.workspace-card-body.ticket-urgente {
  background-color: #7e050f ;
  border: 1px solid #dc3545;
  box-shadow: 0 0 6px rgba(220, 53, 69, 0.4);
}



